body{
    background-color: beige;
}

.logo{
    width: 30%;
}
.nav-item{
    padding: 1.5%;
}
.miBoton .btn-text {
    display: block;
}

/* Estilo para mostrar el icono al pasar el mouse */
.miBoton:hover .btn-text {
    display: none;
}

.miBoton .btn-icon {
    display: none;
}

/* Estilo para mostrar el icono al pasar el mouse */
.miBoton:hover .btn-icon {
    display: inline;
}