body {
    background-color: #F4F4F4 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.barranavegacion{
    background-color: #FFFFFF;
}
.logo {
    width: 30%;
}

.nav-item {
    padding: 1.5%;
}

.miBoton .btn-text {
    display: block;
}

/* Estilo para mostrar el icono al pasar el mouse */
.miBoton:hover .btn-text {
    display: none;
}

.miBoton .btn-icon {
    display: none;
}

/* Estilo para mostrar el icono al pasar el mouse */
.miBoton:hover .btn-icon {
    display: inline;
}

.cuerpo {
    width: 70%;
    /* El div ocupa el 70% del ancho de la pantalla */
    margin: 0 auto;
    /* Lo centra horizontalmente */
    background-color: #F4F4F4;
    /* Color de fondo para mayor claridad */
    padding: 20px;
    /* Añade espacio interior para contenido */
    text-align: center;
}
    ul {
        /* Estilos generales para todas las listas no ordenadas */
        list-style: none;
        /* Eliminar los marcadores de lista predeterminados */
        padding: 0;
        margin: 0;
    }

    ul li {
        display: inline;
        margin-right: 10px;
    }
.disenos{
    background-color: #F4F4F4;
}

.container {
    width: 60%;
    padding: 2px 5px;
}

.container .swiper-container {
    width: 60%;
    height: 70%;
}

.container .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);

}

.container .swiper-slide img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 15px;

}

.container .swiper-slide .card-description {
    padding: 1rem 1rem;
}

.container .swiper-slide .card-title,
.container .swiper-slide .card-text {
    margin-bottom: .5rem;
}

.container .swiper-slide .card-link a {
    text-decoration: none;
    color: #EDBB99;
}

.swiper-button-next {
    right: 195px !important;
    color: #EDBB99 !important;
}

.swiper-button-prev {
    left: 195px !important;
    color: #EDBB99 !important;
}
.accordion .accordion-button{
    background-color: #FBEEE6;
}
.contactenosform{
    background-color: #FFFFFF;
    border-radius: 20px;
}























.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    width: 100px;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
}